body {
	-webkit-font-smoothing: antialiased;
}

img {
	border: none;
	padding: 0;
	margin: 0;
}

a, a:visited, .ui-widget-content a, .ui-widget-content a:visited {
	color: #2161cb;
	text-decoration: none;
}

a:hover, a:focus, .ui-widget-content a:hover, .ui-widget-content a:focus {
	color: #1d57b5;
	outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td, p {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.ui-widget {
	font-size: 1em;
}

p {
	margin-bottom: 1em;
	line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
	font-weight: normal;
	font-style: normal;
	/*text-rendering: optimizeLegibility;*/
	margin-bottom: 0.5em;
	margin-top: 0em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.1em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 22px 0 21px;
	height: 0;
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
		color: black;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}

label {
	font-size: 1em;
	color: #4d4d4d;
	cursor: pointer;
	font-weight: 500;
	display: inline-block;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	outline: none !important;
	border-color: #b3b3b3;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
	background-color: #ddd;
}
input[type="text"] {
	padding-left: 5px;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color: grey !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: grey !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: grey !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: grey !important;
}
textarea {
	height: auto;
}

fieldset {
	border: solid 1px #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 12px 12px 0;
	margin: 18px 0;
}
fieldset legend {
	font-weight: bold;
	background: white;
	padding: 0 3px;
	margin: 0;
	margin-left: -3px;
}
