body {
	background: url('img/MX.40261_Eriovagi_JR05203.JPG') no-repeat;
	background-position: 0px -200px;
	overflow: auto;
}
h5 {
	color: white;
}
#formContainer {
  	padding: 1em;
}
#imageInfo {
	font-size: 10px;
	color: white;
	position: fixed;
	bottom: 0;
	right: 140px;
	background-color: #aaa;
	padding: 4px;
}
#logo {
	position: fixed;
	z-index: -1;
	top: 5px;
	right: 5px;
	height: 2.5em;
}

input, textarea {
	font-size: 110%;
	color: black;
	opacity: 1;
}
input {
	width: 300px;
}
textarea, #subject {
	width: 600px;
}
textarea {
	height: 200px;
}
fieldset {
	margin: 0;
	padding: 0.5em;
	padding-bottom: 0.9em;
	border-radius: 3px;
	background-color: rgba(255,255,255,0.8);
	width: 650px;
}
.ui-button {
	margin-top: 1em;
}
#tools a:last-of-type {
	float: right;
}
input.error, textarea.error {
	background-color: rgb(255, 228, 228) !important;
}
label.error {
	background: none !important;
	float: right;
	font-size: 80%;
}
#attachment-error {
	background-color: rgb(255, 208, 208) !important;
}
#header a, #header a:visited {
	font-size: 90%;
	color: white;
	text-decoration: underline;
}
#header a:before {
	content: "»";
}
span.requiredFieldMarker {
	font-size: 8px;
	color: rgb(255, 128, 128);
	cursor: pointer;
}
span.filename {
	padding: 5px;
	font-size: 9px;
	float: right;
}
#thankYou {
	background-color: rgb(200,255,200);
	margin: 1em;
	margin-left: 0;
	padding: 0.5em;
	border: 1px dotted green;
	display: inline-block;
}

@media only screen and (max-width: 720px) {
	#logo { display: none; }
	fieldset, input, textarea, #formContainer, #subject {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	input[type="text"], input[type="email"], #subject {
		width: 80%;
		padding: 0;
		padding-left: 1px;
	}
	label.error {
		float: left;
	}
	#attachment-error {
		float: right;
	}
	#imageInfo {
		display: block;
		width: 100%;
		left: 0;
	}
	textarea {
		height: 100px;
	}
}

.screenshotThumbnail {
	width: 100px;
	height: 100px;
	margin-left: 10px;
}
