#herpetology_atlas #all-content {
	background: #eeeeee url('img/headers/sisilisko_header_Böhringer_Friedrich_ CC_BY_SA.jpg') 0 0 no-repeat;
}
#herpetology_atlas .taxonCard {
	font-size: 0.8em;
	width: 12em;
	margin: 2em;
	position: relative;
}
#herpetology_atlas .taxonCard h4 {
	font-size: 1.1em;
	position: absolute;
	bottom: -3em;
	left: -1em;
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: 12em;
	padding: 0.5em;
}
#herpetology_atlas .taxonCard .image, #herpetology_atlas .taxonCard img {
	width: 12em;
	margin: 0;
	padding: 0;
}
#herpetology_atlas .taxonCard:hover h4 {
	background-color: rgba(0,0,0,0.5);
}
