.indent_1 {
	padding-left: 15px;
}
.indent_2 {
	padding-left: 30px;
}
.indent_3 {
	padding-left: 45px;
}
.indent_4 {
	padding-left: 60px;
}
.indent_5 {
	padding-left: 75px;
}
.indent_6 {
	padding-left: 85px;
}
.indent_7 {
	padding-left: 95px;
}
.indent_8 {
	padding-left: 105px;
}
.indent_9 {
	padding-left: 110px;
}
.indent_10 {
	padding-left: 115px;
}
.indent_11 {
	padding-left: 120px;
}
.indent_12 {
	padding-left: 121px;
}
.indent_13 {
	padding-left: 122px;
}
.indent_14 {
	padding-left: 123px;
}
.indent_15 {
	padding-left: 124px;
}
.indent_16 {
	padding-left: 125px;
}
.indent_17 {
	padding-left: 126px;
}
.indent_18 {
	padding-left: 127px;
}
.indent_19 {
	padding-left: 128px;
}
.indent_20 {
	padding-left: 129px;
}

@media only screen and (max-width: 863px) {
	table.taxontree {
		font-size: 0.7em !important;
	}
	.indent_1 {
		padding-left: 5px;
	}
	.indent_2 {
		padding-left: 10px;
	}
	.indent_3 {
		padding-left: 15px;
	}
	.indent_4 {
		padding-left: 20px;
	}
	.indent_5 {
		padding-left: 25px;
	}
	.indent_6 {
		padding-left: 30px;
	}
	.indent_7 {
		padding-left: 35px;
	}
	.indent_8 {
		padding-left: 38px;
	}
	.indent_9 {
		padding-left: 41px;
	}
	.indent_10 {
		padding-left: 44px;
	}
	.indent_11 {
		padding-left: 47px;
	}
	table.taxontree td {
		padding: 0px;
	}
}
@media only screen and (max-width: 450px) {
	table.taxontree tr td, table.taxontree tr th {
		padding: 0;
		margin: 0;
		white-space: normal !important;
	}
}

.expandtree {
	position: relative;
	margin-right: 17px;
}
.expandtree span.ui-icon  {
	display: inline-block;
	margin: 0;
	position: absolute;
	top: 1px;
}
table.taxontree { border-collapse: separate; border-spacing: 0px; }

table.taxontree tr:HOVER td {
	border-bottom: 1px dashed grey;
	border-top: 1px dashed grey;
	background-color: #eee; 
}

table.taxontree tr td { 
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
table.taxontree .indentAndExpandTree {
	
}
table.taxontree tr td.ids {
	color: grey;
}
table.taxontree tr td.scientificName {
	
}
table.taxontree tr td.vernacularNames {
	margin-left: 10px;
	color: rgb(0,75,0);
}
table.taxontree tr.selected td.vernacularNames {
	color: rgb(0,50,0);
}
.speciesName {
	font-style: italic;
	white-space: nowrap;
}
.author {
	font-variant: small-caps;
	font-size: 85%;
	padding-left: 7px;
}
table.taxontree {
	width: 100%;
	margin-bottom: 30px;
	font-size: 0.85em;
}
table.taxontree td {
	padding-bottom: 0.1em;
} 

table.taxontree td.tools {
	min-width: 70px;
}

table.taxontree .scientificNameAndAuthor {
	white-space: nowrap;
}
table.taxontree .alternative {
	font-weight: normal;
	font-size: 80%;
	display: block;
}
table.taxontree .misidentifiedName {
	color: red;
}
table.taxontree #showAll {
	border-style: none;
	background-color: inherit;
	font-size: 75%;
	color: green;
	white-space: nowrap;	
}
table.taxontree .ids {
	width: 140px;
	max-width: 140px;
}
table.taxontree tr.selected td {
	background-color: #ddd;
}

table.taxontree tr.selected td {
	border-top: 2px groove #aaa !important;
	border-bottom: 2px groove #666 !important;
}
table.taxontree tr.selected td:first-child {
	border-bottom-left-radius: 5px !important;
	border-left: 2px groove #555 !important;
}
table.taxontree tr.selected td:last-child {
	border-bottom-right-radius: 5px !important;
	border-right: 2px groove #aaa !important;
}

#simpleTaxonTree table {
	border-collapse: collapse;
	margin-right: 10px;
	margin-bottom: 3px;
}
#simpleTaxonTree table tr.selected td {
	background-color: rgb(201, 228, 255);
}
#simpleTaxonTree table tr td {
	vertical-align: top;
	max-width: 150px;
	padding: 3px;
	padding-right: 5px;
}
#taxonpage .contentDiv {
	display: inline-block;
	float: left;
	margin: 8px;
	margin-right: 15px;
	max-width: 350px;
}
table#basicInfo {
	border-collapse: collapse;
}
#basicInfo th, #basicInfo td {
	background: none;
	filter: none;
	border-style: none;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid rgb(170, 170, 170);
	border-top: 1px solid rgb(170, 170, 170);
	font-size: 90%;
	padding: 0.2em;	
}
#basicInfo td {
	vertical-align: middle;
}
#basicInfo .publication {
	background-color: rgb(243,243,243);
	border: 1px solid rgb(230,230,230);
	border-radius: 2px;
	padding: 2px !important;
}
#basicInfo .publication {
	display: block;
}
#basicInfo .morelink {
	color: rgb(180,180,180);
	font-size: 90%;
}
#basicInfo tr:last-child th, #basicInfo tr:last-child td {
	border-bottom-style: none;
}

#taxonpage div#basicInfo {
	padding: 5px;
}
#taxonpage div#basicInfo li {
	list-style: none;
}
#taxonpage div#basicInfo p {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
.invasiveSpeciesContainer label {
	padding: 0px;
	margin: 0px;
}
.invasiveSpeciesIconContainer img {
	margin-left: 20px;
}
#taxonpage #aggregatedMap, #taxonpage #detailedMap {
	border: 0;
	height: 300px;
}
#taxonpage #detailedMap {
	height: 600px;
}

#taxonpage p.info {
	font-size: 80%;
}
#taxonpage p.imageAuthor {
	line-height: 1;
}

#simpleTaxonTree td {
	font-size: 80%;
}

#taxonpage label {
	display: block;
	max-width: 160px;
	margin-right: 15px;
}


#taxonomyStatusTable {
	margin: 0;
	margin-top: 10px;
	font-size: 0.8em;
}
#taxonomyStatusTable td, #taxonomyStatusTable th {
	text-align: center;
	vertical-align: top;
}
#taxonomyStatusTable td.ready {
	background-color: rgb(170,255,170);
}

tr.highlight td {
	border-top: 1px solid black !important;
}
.taxonRank {
	color: #515151;
	padding-right: 15px;
}
.otherLanguagesTitle {
	font-size: 80%;
	display: block;
}

#taxonpage label {
	cursor: default;
}


#taxonpage .textualContentDiv {
	max-width: 600px;
}

@media only screen and (max-width: 450px) {
	#taxonpage .contentDiv, #taxonpage .textualContentDiv, #taxonpage #sideBar {
		display: block;
		clear: both;
		float: left;
	}
}

#sideBar #taxonpageAggregatedMapTab .ui-accordion .ui-accordion-content, 
#sideBar #taxonpageDetailedMapTab .ui-accordion .ui-accordion-content {
    padding: 0px;
}
#sideBar > p {
	text-align: center;
}
#sideBar #trustedImagesList .imageInfo {
	max-width: 130px;
}

#basicInfo .finnishness th, #basicInfo .finnishness td, 
#basicInfo .expersdecisions th, #basicInfo .expersdecisions td  {
	border-bottom-style: none;
	border-top-style: none;
}

.iucnGraph {
	white-space: nowrap;
	border-collapse: collapse;
}
.iucnGraph td, .iucnGraph th {
	border-style: none !important;
	padding: 0 !important;
	padding-left: 5px !important; 
}
.iucnGraph th {
	color: grey;
	font-size: 9px !important;
	text-align: center !important;
}
.iucnGraph td span {
	display: inline-block;
	border: 1px solid black;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	font-size: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	line-height: 20px;
	text-align: center;
	margin-left: 1px;
}

.activeEX { background-color: black; color: rgb(190, 48, 48); }
.activeEW { background-color: black; color: white; }
.activeRE { background-color: black; color: white; }
.activeCR { background-color: rgb(204, 51, 51); color: white; }
.activeEN { background-color: rgb(204, 102, 51); color: white; }
.activeVU { background-color: rgb(204, 153, 0); color: white; }
.activeNT { background-color: rgb(0, 102, 102); color: rgb(94, 165, 134); }
.activeLC { background-color: rgb(0, 102, 102); color: white; }

table.iucnGraph {
	width; 100%;
}
table.iucnGraph td {
	padding: 2px;
	font-size: 80%;
	border-bottom-style: none !important;
}
table.iucnGraph td:LAST-CHILD {
	text-align: right;
	
}

#taxonContentSelectorContainer {
	font-size: 70%;
}
.taxonContentSelector li {
	list-style-type: none;
	padding-bottom: 3px;
}
#taxonContentSelectorContainer h6 {
	margin: 0;
}
#taxonContentSelectorContainer ul {
	margin: 0;
	padding: 0;
}
.taxonContentSelector .languageFlag {
	width: 15px;
	margin: 0;
	padding: 0;
}

#basicInfo .taxonContentSelector {
	font-size: 90%;
}

.selectedTaxonContent {
	font-weight: bold;
}
.singleSpeciesImage {
	float: right;
	max-width: 155px;
	margin: 3px;
}
.singleSpeciesImage img {
	max-width: 150px;
	max-height: auto;
}

img.icon-finland {
    width: 19px;
    height: auto;
    border: 1px solid grey; 
}

.ingressPlaceholder {
	height: 5px;
	margin: 0;
	padding: 0;
}

.taxonPageReportAndSearchToolContainer {
	text-align: center;
}

#taxonContentSelectorContainer {
	margin-top: 10px;
}

.fullImage {
	max-width: 280px;
}

#speciesThemes a .themeIcon {
	display: inline;
}
#speciesThemes a .themeIcon img {
	height: 110px;
	widht: auto;
}
.experts {
	display: inline-block;
	color: white;
	font-size: 120%;
	font-weight: normal;
	padding: 5px;
}

#taxonomyTree #taxonomyPies > div {
	display: inline-block;
	margin: 3em;
	padding: 0;
}
.taxonomyPie {
	width: 25em;
	height: 15em;
}

#generalInfo p {
	padding: 0.1em;
	margin: 0.1em;
}
#generalInfo > div {
	display: inline-block;
	margin: 2em;
	max-width: 30em;
}
#generalInfo #taxonContentSelectorContainer, #generalInfo #basicDescriptionTexts {
	display: block;
	font-size: 1.2em;
	width: 100%;
	max-width: none;
}
#generalInfo #basicDescriptionTexts p {
	margin-bottom: 1em;
}
#basicDescriptionTexts > div {
	display: inline-block;
	max-width: 30em;
	margin: 1em;
}

@media only screen and (max-width: 1000px) {
	#generalInfo > div {
		margin-left: 0;
	}
	#basicDescriptionTexts > div {
		margin: 0.3em;
	}
}

/*
@media only screen and (max-width: 1133px) {
	#taxonSpeciesPageMainTabs .ui-tabs-anchor, #taxonSpeciesPageMainTabs .ui-tabs-nav li {
		float: none;
		display: block;
	}
}
*/

#speciesThemes .themeLogo {
	display: inline-block;
	margin-right: 2em;
}
#taxonSpeciesPageMainTabs #generalInfo {
	background-color: white;
}
#taxonSpeciesPage #childrenPie {
	width: 90%;
	max-width: none;
	display: block;
	height: 200px;
	margin: 0;
}

#taxonTreeTools {
	float: right;
	text-align: center;
}
#taxonTreeTools > div {
	width: 450px;
	display: block;
	text-align: center;
}
.switch-button-label {
	width: 150px;
	text-align: left;
	line-height: 17px;
	vertical-align: top;
}
#taxonTreeTools > div .switch-button-label:nth-of-type(1) {
	text-align: right;
}