@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-color: #eeeeee;
}
#all-content {
	margin: auto;
	margin-bottom: 0;
	max-width: 1400px;
	background: #eeeeee url('img/headers/Squirrel_posing_CC_BY_2.0_Peter Trimming.jpg') 0 0 no-repeat;
}
#page-content {
	margin-left: 2em;
	margin-right: 2em;
}
#page-content > div {
	background-color: white;
	background-color: rgba(255,255,255, 0.88);
	padding: 2em;
  	margin: 0;
}
#home #page-content > div {
    border: 1px solid #dddddd;
	border-radius: 2px;
    margin: 1.5em;
	min-height: 450px;
}
#page-content:after {
	content: "";
	clear: both;
	display: block;
}
#page-content > h2 {
	color: white;
	text-shadow: 1px 1px black;
	margin: 1.5em;
	margin-top: 3em;
	margin-left: inherit;
}
.hidden {
	display: none;
}
.loadsUgly {
	visibility: hidden;
}
label {
	margin-left: 0.5em;
	margin-right: 0.3em;
}
ul {
	list-style-type: none;
}
th {
	background: rgb(145,192,95); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(145,192,95,1) 0%, rgba(124,180,65,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,192,95,1)), color-stop(100%,rgba(124,180,65,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(145,192,95,1) 0%,rgba(124,180,65,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(145,192,95,1) 0%,rgba(124,180,65,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(145,192,95,1) 0%,rgba(124,180,65,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(145,192,95,1) 0%,rgba(124,180,65,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c05f', endColorstr='#7cb441',GradientType=0 ); /* IE6-9 */
	color: white;
	border: 1px solid rgb(210,210,210);
}
td {
	background-color: transparent;
}
iframe {
	margin: 0;
	padding: 0;
	border-style: none;
}
p.info, .ui-widget-content p {
	margin: 2em;
}

input[type="text"], input[type="email"], textarea {
    padding-left: 5px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: rgb(255, 255, 255);
    font-family: inherit;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    transition: all 0.15s linear 0s;
}

span.ui-icon {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

.ui-tooltip {
	background-color: white !important;
	opacity: 1;
}
#latestRecords .ui-widget-content, #latestRecords .ui-widget-header {
	border-style: none;
	background: none;
}
.ui-tabs .ui-tabs-panel {
    padding: 0px 2px;
}

.taxonomySearchForm input {
	background: url("img/search-icon-black_small.png") no-repeat;
	background-position: right;
	height: 2em;
	width: 17em;
	background-color: white;
}

.devmode {
	position: absolute; 
	color: red; 
	font-weight: bold;
	font-size: 10px;
	top: 40px;
	left: 10px;
}

#detailedMap, #aggregatedMap, #mapOverlay, .mapframe {
	width: 100%;
	height: 600px;
}
#map p {
	margin: 1em;
}
#openInFullScreenButton {
	display: block;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#mapOverlay {
	background: transparent;
	position:relative; 
	top: 600px;  /* iframe height */
   	margin-top:-600px;  /* iframe height */
   	text-align: center;
   	vertical-align: middle;
}
#mapOverlay span {
	display: inline-block;	
}
.randomImageContainer {
	position: relative;
	display: inline-block;
	min-height: 22em;
}
.randomImageContainer .control {
	position: absolute;
	top: 0; bottom: 0; right: 0px;
	margin-right: -50px;
	height: 70px;
	width: 50px;
	margin-top: auto;
	margin-bottom: auto;
	opacity: 0.5;
	background-color: black;
}
.randomImageContainer .control img {
	height: 30px;
	padding: 20px;
}
.randomImageContainer .control.prev {
	left: -0.1em;
	box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.randomImageContainer .control.next {
	right: -0.1em;
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.randomImageContainer .control.disabled {
	display: none;
}
.randomImageContainer:hover .control.active {
	display: block;
	cursor: pointer;
}
.randomImageContainer .control.active:hover {
	opacity: 1.0;
}
.randomImageContainer > div {
	display: inline-block;
}

.largeTable, .statisticsTable {
	border-collapse: collapse;
}
.largeTable td, .statisticsTable td {
	border: 1px solid #ddd;
}
.largeTable td, .largeTable th, .statisticsTable td, .statisticsTable th {
	font-family: sans-serif; 
	padding: 2px;
}
.largeTable td, .largeTable th { 
	vertical-align: middle; 
}
@media only screen and (max-width: 860px) {
	.largeTable {
		display: inline-block;
		width: 100%;
	}
	.largeTable thead {
		display: inline-block;
		width: 100%;
	}
	.largeTable tbody {
		display: inline-block;
		width: 100%;
	}
	.largeTable tr {
		width: 100%;
		display: inline-block;
		border-style: none;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
	}
	.largeTable th, .largeTable td {
		display: inline-block;
		border-style: none;
		padding: 3px;
		background-color: transparent;
	}
	.largeTable tr td:nth-child(1), .resultList tr td:nth-child(2)	{ color: rgb(0, 127, 194); font-weight: bold; }
}

.image {
	display: inline-block;
	padding: 2em;
	width: 200px;
	text-align: center;
}
.image img {
	max-width: 200px;
	max-height: auto;
}
.imageInfo {
	padding: 0; 
	margin: 0;  
	font-size: 90%;
	display: inline-block;
	line-height: 1.1em;
}
.imageInfo p {
	padding: 0;
	margin: 0;
}
.imageInfo abbr {
	font-size: 10px;
	font-weight: bold;
	border: 0;
	cursor: help;
}
.imageDesc {
	font-size: 90%;
}
.image .taxonNames {
	color: rgb(0, 127, 194); font-weight: bold;
}


#headerbar, #footer {
	/*background-color: #0080C3;*/
	background-color: #00537C;
	color: white;
}
#headerbar {
	
}
#headerbar img {
	height: 1.5em;
	width: auto;
	padding-top: 10px;
}

#mainmenu ul li {
	display: inline-block;
	/*border-left: 1px solid #1A8CC9;*/
	border-left: 1px solid #036B9B;
	white-space: nowrap;
}
#mainmenu ul li a {
	height: 3em;
	line-height: 3em;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
}
#mainmenu ul li:first-child {
	border-left-style: none;
}
#mainmenu ul li:hover {
	background-color: #0073AD;
}
#headerbar a, #headerbar a:hover, #headerbar a:focus, #headerbar a:visited,
#homebanner a, #homebanner a:hover, #homebanner a:focus, #homebanner a:visited,
#footer a, #footer a:hover, #footer a:focus, #footer a:visited,
a.button {
	color: white;
}
#mainmenu:after, #headerbar:after {
	content: "";
	clear: both;
	display: block;
}
#localemenu, #headerTaxonSearch {
	margin: 1.5em;
	margin-top: 0.8em;
	margin-right: 0.8em;
}
#localemenu ul li {
	display: inline-block;
	margin-left: 1.5em;
	font-size: 0.9em;
}
#localemenu ul li a {
	color: black;
}
.languageFlag {
	height: 0.9em;
	width: auto;
	margin-right: 0.5em;
	margin-left: 2em;
}
#localemenu, #headerTaxonSearch {
	float: right;
}
#headerTaxonSearch input {
	height: 3em;
	font-size: 1em;
	line-height: 3em;
}
#homebanner {
	color: white;
	text-shadow: 1px 1px black;
	margin-bottom: 4em;
}
#homebanner h1 {
	margin: 0;
	padding: 0;
	padding-top: 1em;
	line-height: 1em;
}
#localemenu ul li a {
	color: white;
}
#homebanner {
	margin-left: 3em;
	margin-right: 3em;
}

#homebanner #intro p {
	max-width: 31em;
	margin-left: 5px;
	margin-top: 1em;
}
.some {
	margin: 2em;
}
#homebanner #inNumbers, #localemenu {
	background-color: rgba(20,20,20,0.8);
	border: 1px solid rgba(120,120,120,0.6);
	padding: 1em;
}
#homebanner #inNumbers {
	display: inline-block;
}
#homebanner #inNumbers h3 {
	font-size: 1em;
	margin: 0;
	padding: 0;
}
#homebanner #inNumbers ul li {
	display: inline-block;
	padding-left: 5em;
	padding-right: 5em;
}
#homebanner #inNumbers p {
	color: #7AD2FF;
	font-size: 2em;
	margin: 0;
}

#footer {
	margin: 0;
	padding: 3em;
	padding-bottom: 0.5em;
}
#footer h2 {
	margin-top: 0;
}

.sponsor-logos { 
	background-color: white;
	padding: 50px; 
}
.sponsor-logos img { 
	margin: 3em; 
	vertical-align: middle;
	max-height: 120px;
	max-width: 270px;
}
#testDisclaimer .sponsor-logos img {
	margin: 1em;
}

#home #disclaimer, #home #report, #home #news {
	max-width: 15em;
	display: inline-block;
}
#home #news {
	max-width: 23em;
}
#page-content {
	min-height: 600px;
}
#page-content #summary, #page-content #timetable {
	max-width: 30em;
	min-height: 600px;
	display: inline-block;
}
#timetable img, #summary img {
	width: 28em;
	height: auto;
}
#summary ul {
	list-style-type: circle;
	list-style-position: inside;
}
#summary ul li {
	margin: 1em;
}
#latestRecords > a {
	float: right;
	display: inline-block;
}
#searchPageTabs:before {
	content: "";
	display: block;
	clear: both;
}
/*
#page-content #collectionManagement {
	background: url("img/collectionManagement.png") no-repeat 50% 20%;
	background-size: 100%;
}
#page-content #collectionManagement > div {
	background-color: rgba(0,0,0, 0.4);
	color: white;
	padding: 2em;
	margin: 2em;
}
*/
#home #page-content #projects {
	min-height: 0px;
}
#projects .themeLogo {
	display: inline-block;
	position: relative;
	margin: 1em;
	margin-bottom: 3em;
}
#projects .themeIntro {
	height: 5em;
	position: absolute;
	bottom: -5em;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: block;
	padding: 0.8em;
	font-size: 0.7em;
}
#projects .themeLogo:hover .themeIntro {
	background-color: rgba(0,0,0,0.5);
}
.themeLogo img {
	height: 150px;
	width: auto;
	max-width: 230px;
}
.talkinghead {
	border-radius: 60px;
	float: left;
	margin-right: 1em;
	margin-bottom: 0.2em;
}
#home #datasources #partners a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3em;
	margin-bottom: 3em;
}
#home #datasources img {
	max-width: 150px;
	max-height: 120px;
	display: block;
	line-height: 120px;
}
#home #datasources ul {
	list-style-position: inside;
}

.some a {
	margin-right: 1em;
}

.searchTab {
	font-family: Arial, Helvetica, sans-serif;
	margin: 2em;
}
#map {
	margin: 0;
}

#home #taxonomy h3 {
	margin-top: 0.1em;
}
#home #taxonomy > div {
	display: inline-block;
	margin: 0em;
}
#home #taxonomy > div:FIRST-CHILD {
	max-width: 20em;
	margin-right: 3em;	
}
#home .taxonomyPie {
	height: 160px;
	width: 100%;
}
.taxonCard a #basicInfo {
	color: black;
}
.taxonCard {
	max-width: 35em;
	margin: 1em;
	font-size: 0.85em;
	display: inline-block;
}
.taxonCard h4 {
	font-size: 1.8em;	
	display: inline-block;
}
.taxonCard .image {
	margin: 0;
	padding: 0;
}
.taxonCard .imageInfo {
	display: none;
}
.actionpoint {
	display: block;
	margin: 1em;
	margin-left: 0.5em;
	padding: 0.3em;
	font-size: 0.9em;
	line-height: 0.9em;
}
/*a.actionpoint {
	color: green;
}*/
.actionpoint:after {
	content: " » ";
	font-size: 2em;
	color: green;
}
ul.images li {
	display: inline-block;
}

.ui-widget {
	font-size: 0.8em;
}
.ui-dialog {
	background: white;
}

.ui-widget-overlay {
   background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
   opacity: 0.90;
   filter: Alpha(Opacity=90);
}

.taxonomySearchResultContainer {
	background: white;
	padding: 2em;
	font-size: 0.7em;
}

p, li {
	max-width: 40em;
}
#services ul li {
	font-size: 0.8em;
	display: inline-block;
	background-color: #eeeeee;
	padding: 2em;
	margin: 2em;
	margin-left: 0;
	width: 23em;
	min-height: 27em;
}

#footer h2 {
	font-size: 1.5em;
}
#footer > div {
	display: inline-block;
	margin-left: 10em;
	margin-bottom: 5em:
}
#footer #header-author {
	font-size: 0.8em;
	display: block;
	text-align: right;
	margin-bottom: 0;
	margin-top: 3em;
}
#sponsor-logos h2 {
	font-size: 1.5em;
}
.underconstruction {
	font-size: 0.8em;
}

#searchSubmitContainer {
	padding-left: 68px; /* same as above (+some) */
	margin-bottom: 5px;
}
#searchForm select {
	width: 250px;
}
#searchForm .buttonContainer {
	padding-bottom: 15px;
}
#searchForm td {
	padding: 5px;
	vertical-align: top;
}
input.dateSize2 { width: 20px; text-align: center; }
input.dateSize4 { width: 35px; text-align: center; }
#searchSubmitContainer .ui-button {
	margin: 1em;
	font-size: 1.5em;
}
#searchSubmitContainer .ui-button:last-child {
	font-size: 1em;
	margin-left: 3em;
}
#searchForm .additionalLabel {
	font-size: 80%;
	width: auto;
}
#searchFormTools {
	float: right;
}
#searchFormTools #quickSearches {
	font-size: 0.9em;
}
#endDateContainer {
	display: inline-block;
}
.buttonContainer {
	display: inline-block;
	white-space: nowrap;
}
.buttonContainer .ui-button {
	font-size: 0.7em;
}
.error {
	background-color: rgb(255, 198, 198) !important;
}
div.error {
	display: inline-block;
	padding: 1em;
	margin: 1em;
}

.loadingSpinner {
	margin: 2em;
}


@media only screen and (max-width: 1280px) {
	#page-content {
		margin: 0;
	}
	#page-content > div {
		margin-left: 2em;
	}
	#projects .themeLogo img  {
		height: 120px;
	}
	.image {
		padding: 1em;
		width: 200px;
	}
	.image img {
		max-width: 200px;
	}
	#footer > div {
		margin-left: 4em;
	}
	.sponsor-logos img {
		max-height: 80px;
		max-width: 120px;
		margin: 0.5em;
	}
}
@media only screen and (max-width: 1230px) {
	#page-content > div {
		width: 100% !important;
		box-sizing: border-box !important;
		margin: 2em !important;
		max-width: 1150px !important;
		min-height: 0 !important;
	}
	#page-content > div p {
		max-width: 40em;
	}
	#projects .themeLogo:nth-child(n+6) {
		display: none;
	}
	#taxonomy > div:FIRST-CHILD {
		display: block;
		width: 100%;
		box-sizing: border-box;
		max-width: none;
	}
	#taxonomy h3 {
		margin-top: 1em;
	}
	#services ul li {
		width: 19em;
	}
}
@media only screen and (max-width: 1200px) {
	#page-content > div {
		max-width: 1100px !important;
	}
	.image {
		width: 180px;
	}
	.image img {
		max-width: 180px;
	}
}
@media only screen and (max-width: 1130px) {
	#page-content > div {
		max-width: 880px !important;
	}
	.image {
		padding: 0.5em;
		width: 150px;
	}
	.image img {
		max-width: 150px;
	}
	#datasources ul li {
		font-size: 0.8em;
	}
}
@media only screen and (max-width: 930px) {
	#homebanner #intro h1 {
		display: none;
	}
	#homebanner #intro p:before {
  		content: "";
  		display: block;
	  	clear: both;
	}
	#page-content > div {
		width: 100% !important;
		box-sizing: border-box !important;
		margin: 0em !important;
		margin-bottom: 2em !important;
		min-height: 0 !important;
		max-width: none !important;
		padding: 0.3em;
	}
	#localemenu {
		padding: 0.5em;
	}
	#localemenu .languageFlag {
		margin-left: 0.3em;
	}
	#homebanner {
		margin: 0;
		margin-bottom: 3em;
	}
	#homebanner #inNumbers {
		font-size: 0.8em;
		width: 100%;
		display: block !important;
		width: 100% !important;
		box-sizing: border-box !important;
	}
	.image {
		padding: 0.5em;
		width: 150px;
	}
	.image img {
		max-width: 150px;
	}
	#footer {
		padding-left: 1em;
	}
	#footer #header-author {
		font-size: 0.7em;
	}
	#mainmenu ul li {
		display: block;
		border-style: none;
		border-bottom: 1px solid black;
	}
	#searchFormTools {
		float: none;
		margin-bottom: 2em;
	}
	#detailedMap, #aggregatedMap, #mapOverlay, .mapframe {
		width: 80%;
	}
	.randomImageContainer {
		min-height: 12em;
	}
	.randomImageContainer .control {
		margin-right: 0px;
	}
}
@media only screen and (max-width: 840px) {
	.image {
		padding: 0.2em;
		width: 120px;
	}
	.image img {
		max-width: 120px;
	}
	#services ul li {
		display: block !important;
		width: 100% !important;
		box-sizing: border-box !important;
		margin: 0em !important;
		margin-bottom: 2em !important;
		min-height: 0 !important;
	}
}
@media only screen and (max-width: 640px) {
	.image {
		padding: 0.2em;
		width: 100px;
	}
	.image img {
		max-width: 100px;
	}
}
@media only screen and (max-width: 430px) {
	#localemenu ul li {
		display: block;
		float: none;
		margin: 0;
	}
}

.collectionInfo label {
	width: 230px;
}
.collectionInfo tr td {
	padding: 0.5em;
	border-bottom: 1px solid #dddddd;
}
.collectionInfo .actionpoint {
	float: right;
}
.numberOfSubCollections {
	font-size: 0.8em;
}
.numberOfSubCollections:before {
	content: "—";
	padding: 10px;
}

.newsMeta {
	vertical-align: top;
}
.newsMetaTag {
	font-size: 70%;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(220,220,220);
	border-left: 1px dotted grey;
	border-right: 1px dotted grey;
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;
	display: inline-block;
	white-space: nowrap;
}
.newsMetaTag_release { background-color: rgb(130,130,225); }
.newsMetaTag_taxonomy { background-color: rgb(225,180,100); }
.newsMetaTag_technical { background-color: rgb(130,225,130); }

.news li p, .news li h5 {
	line-height: 1em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}
.news li h5 {
	margin-top: 1em;
	line-height: 1.2em;
	font-size: 1.1em;
}
#home #news ul {
	font-size: 12px;
}
#home #news .newsMetaTag {
	font-size: 100%;
}
#home #news li p, #home #news li h5 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}
#home #news li {
	border-bottom: 1px solid #F0F0F0;
}
img.externalLink {
	height: 13px;
	width: auto;
	margin: 2px;
	margin-bottom: 0px;
}
#mainmenu #helpMenu {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 999;
	border-style: none;
	font-size: 90%;
	background-color: rgb(0, 101, 147);
	border-bottom-left-radius: 20px;
}
#mainmenu #helpMenu:hover {
	background-color: rgb(10, 111, 147);
}
#helpMenu img {
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.helpdeskWidget .ui-dialog-content {
	padding: 0;
}
.helpdeskWidget .ui-dialog-titlebar {
	border-radius: 0px;
}

a.resourceLink { 
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
	display: inline-block; 
	border: 1px solid grey; 
	border-radius: 5px; 
	font-size: 75%;
	margin-left: 3px;
}
a.resourceLink, a.resourceLink:visited, a.resourceLink:hover { color: black; }
a.jsonLink { background-color: rgb(161, 155, 193); }
a.rdfxmlLink { background-color: rgb(253, 184, 31); }
a.dwcLink { background-color: rgb(221, 108, 52); }
a.csvLink { background-color: rgb(184, 195, 73); }

.newsItem ul {
	list-style-type: disc;
	margin: inherit;
	padding: inherit;
	padding-top: 0;
}



#betaBanner {  
	position: absolute;
	top: 130px;
	right: 100px;
	width: 170px;
	text-align: center;
	background-color: #3498DB;
	padding: 0.5em;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: black;
	padding-bottom: 1em;
}
#betaBanner p { margin: 0; padding: 0; }
a#betaLink, a#betaLink:visited {
	color: #FFFFFF;
	font-size: 150%;
	font-variant: small-caps;
	font-weight: bold;
	border-bottom: 1px solid white;
}


