@page { size: A4; margin: 5mm; }

div.alternative {
	display: inline-block;
	color: grey;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 90%; 
}

table td {
	padding-right: 15px;
}

table.taxontree tr td {
	padding-right: 1px;
	vertical-align: top;
	border: 1px solid #dddddd;
}

.selected td { 
	background-color: #dddddd;
}

td.spacer { width: 4em; }

.indent_1 {
	padding-left: 30px;
}
.indent_2 {
	padding-left: 60px;
}
.indent_3 {
	padding-left: 90px;
}
.indent_4 {
	padding-left: 120px;
}
.indent_5 {
	padding-left: 150px;
}
.indent_6 {
	padding-left: 180px;
}
.indent_7 {
	padding-left: 190px;
}
.indent_8 {
	padding-left: 200px;
}
.indent_9 {
	padding-left: 210px;
}
.indent_10 {
	padding-left: 220px;
}
.indent_11 {
	padding-left: 230px;
}
.indent_12 {
	padding-left: 231px;
}
.indent_13 {
	padding-left: 232px;
}
.indent_14 {
	padding-left: 233px;
}
.indent_15 {
	padding-left: 234px;
}
.indent_16 {
	padding-left: 235px;
}
.indent_17 {
	padding-left: 236px;
}
.indent_18 {
	padding-left: 237px;
}
.indent_19 {
	padding-left: 238px;
}
.indent_20 {
	padding-left: 239px;
}

tr.highlight td {
	border-bottom: 1px solid black;
	padding-top: 10px;
}
h1 { margin: 5; padding: 0; }

.speciesName {
	font-style: italic;
}

.tools a {
	margin-left: 1em;
}